@import '../../styles/vars';

.data {
  padding: 8px 0;
  margin-bottom: 35px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.button {
  text-transform: none !important;
  color: $bluedark !important;
}

.right{
  border-left: 1px solid gray;
}