@import '../../styles/vars';

.filterInput{
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
}

.label{
  font-size: 16px;
  font-weight: 500;
  color: $bluedark;
}

.input{
  border: none;
  padding: 15px 10px;
  border-radius: 10px;
  text-align: center;
  width: auto;
}