@import '../../styles/vars';

.page {
  display: grid;
  overflow: auto;
  width: 100%;
  height: 100vh;
  grid-template-columns: 20% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sidebar profile"
    "sidebar children";
}

.profile {
  grid-area: profile;
  width: 100%;
  height: 100%;
}

.children {
  grid-area: children;
  width: 100%;
  height: 100%;
}
