@import '../../styles/vars';

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $gray;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.button{
  background-color: $blue!important;
  width: 100% !important;
  border-radius: 15px !important;
}