@import "../../styles/vars";

.buttons {
  display: flex;
  gap: 10px;
}

.Profilebutton {
  color: $bluedark !important;
  font-size: 1em !important;
  font-weight: bold !important;
  border-radius: 100px !important;
  border: 2px solid $bluedark !important;
}

.AboutUsButton {
  border-radius: 100px !important;
  font-size: 1em !important;
  background-color: #ff6b17 !important;
}